@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

body {
    font-family: "Inter";
    margin: 0;
    background-color: rgb(244, 244, 244);
}

.title-bg {
    background-image: linear-gradient(to bottom right, #014d83, lightblue);
    /*background-image: linear-gradient(#014d83, rgb(244, 244, 244));*/
    padding: 5px;
}

h1 {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0.1em;
    color:white;
    text-shadow: 2px 2px 4px black;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin: 0 0 15px 0;
}

label {
    margin: 5px 10px;
}

input {
    padding: 2px 0;
    border: none;
    accent-color: green;
}

input[type="number"] {
    width: 90px;
    font-size: 100%;
    text-align: center;
    border-radius: 6px;
    outline-color: green;
    box-shadow: 2px 2px 3px #bbc;
}

input[type="checkbox"] {
    scale: 1.4;
    cursor: pointer;
}

select {
    padding: 5px;
    font-size: 17px;
    margin: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 3px black;
}

button {
    text-align: center;
    width: 90%;
    background-color: lightblue;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 2px #aaa;
}

button:hover {
    background-color: lightgreen;
}

.checkbox-label {
    cursor: pointer;
}

.container {
    display: flex;
    margin: 20px;
    flex-direction: column;
    align-items: center;
}

.section-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    padding: 24px;
    max-width: 750px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 2px 2px 12px black;
}

.stat-screen-section {
    display: flex;
    flex-direction: column;
}

.single-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-section {
    display: flex;
    flex-direction: column;
}

.misc-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* this is needed to hide spinners*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* this is needed to hide spinners*/
/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: auto;
}

table {
    border-collapse: collapse;
    background-color: white;
    box-shadow: 2px 2px 3px #aaa;
}

td {
    border: 0.5px dotted;
    padding: 8px 16px;
    min-width: 150px;
}

#calced-stats-container {
    display: flex;
    justify-content: space-around;
}
